Samples/DTDs/publishing2.3/section.ent

<!-- ============================================================= -->
<!--  MODULE:    Section Class Elements                            -->
<!--  VERSION:   2.3                                               -->
<!--  DATE:      February 2007                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD Archiving and Interchange DTD Suite Section Class Elements v2.3 20070202//EN"
     Delivered as file "section.ent"                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Defines the member of the sec.class, that is,     -->
<!--             names all section-level elements in the           -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!--             At the time of the initial DTD creation           -->
<!--             there is only one such element, Section itself    -->
<!--             <sec>, but future expansion to named sections     -->
<!--             (such as <methodology> or <materials> or any      -->
<!--             new section-level structures would be added here. -->
<!--                                                               -->
<!-- CONTAINS:   1) Default definition of the section class        -->
<!--             2) Defaults for attribute lists                   -->
<!--             3) Section <sec>                                  -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Archiving and Interchange DTD Suite."  -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Archiving and Interchange DTD    --> 
<!--                    Suite."                                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  --> 
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing Version 1.0. The Andrew W.  --> 
<!--             Mellon Foundation provided support for these      --> 
<!--             important contributions.                          -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 2.3                       (DAL/BTU) v2.3 (2007-02-02)
     
     Enhancement Release (2.3) following the Working Group meetings 
     of Oct-Nov/2006-Jan/2007. No backward-incompatible changes.
     Archiving loosened even more. New structures for all the DTDs. 
     
  7. FLOATS WRAPPER - Added new element <floats-wrap> to be used to
     hold the floating objects (figures, tables, text boxes, graphics, 
     etc.) that occur throughout an <article> in on place all
     together at the end of the <body> of the article, rather than 
     letting them appear where they are referenced. New PE
     floats-wrap-model.
     
  6. Updated public identifier to "v2.3 20070202//EN"          

     =============================================================
     Version 2.2                       (DAL/BTU) v2.2 (2006-04-30)
     
     Backwards-compatible changes to meet operational needs.
     Typical changes include adding attribute values and making 
     required elements optional.
          
  5. SECTION METADATA - Added new element <sec-meta>. There are 
     sections that are authored independently, even in journal 
     articles, and this is the start of allowing additional metadata 
     for such sections.
     
  4. Updated public identifier to "v2.3 20070202//EN"          

     =============================================================
     Version 2.0                       (DAL/BTU) v2.0 (2004-08-30)
     
     Major requirement changes led to the new release, producing
     DTD version "2.0":
       a) The splitting of the Archival and Interchange Tag Set 
          DTDs into three DTDs from two: an authoring DTD, an
          archive regularization and interchange DTD (the
          current Blue Publishing DTD), and a preservationist 
          archive DTD (the current Green Archiving and Interchange 
          DTD).
       b) AIT Working Group suggestions from the June 04 meeting 
          and June/July 2004 followup discussions
       c) Suite remodularization to meet new (and newly articulated)
          modularization requirements
       d) New or renamed classes and mixes to make modifications
          easier and more consistent

  3. COMPLETE MODELS WHEN OVER-RIDING A MODEL 
     (for all Parameter Entities suffixed "-model")
     ### Customization Alert ###
     Added internal parentheses to Parameter Entity and removed 
     them from Element Declaration for:
     - %sec-model;

  2. DEFAULT CLASSES - Were moved from this module to 
     %default-classes.ent;
  
  1. Updated public identifier to "v2.3 20070202"          
                                                                   -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITY DEPENDENCIES             
                        Requires the following parameter entities
                        be defined before calling this module. 
                        The content-model Parameter Entities are
                        defined in %common.ent; but may be
                        redefined in the Customization Module for
                        the specific DTD:
                          %sec-model; - Content model for section-like 
                                        elements  
                                                                   -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DEFAULTS FOR ATTRIBUTE LISTS               -->
<!-- ============================================================= -->


<!--                    SECTION ATTRIBUTES                         -->
<!--                    Attribute list for Section element         -->
<!ENTITY % sec-atts   
            "id         ID                                 #IMPLIED
             xml:lang   NMTOKEN                            #IMPLIED
             sec-type   CDATA                              #IMPLIED 
             disp-level CDATA                              #IMPLIED" >


<!-- ============================================================= -->
<!--                    FLOATS WRAPPER ELEMENTS                    -->
<!-- ============================================================= -->


<!--                    FLOATS WRAPPER MODEL                       -->
<!--                    Model for the container element <floats-wrap>,
                        which can be used to place all the floating 
                        elements such as tables and figures within an 
                        <article>.                                 -->
<!ENTITY % floats-wrap-model
                        "(%floats-display.class;)*"                  >
 

<!--                    FLOATS WRAPPER                             -->
<!--                    This container element is just a wrapper to
                        hold the floating objects that occur within
                        an article. Some publishers like to
                        collect all these floating objects (figures,
                        tables, text boxes, graphics, etc.) together
                        at the end  rather than interspersing them
                        throughout the various parts of the document
                        where they are referenced. As such,
                        the element is not part of the narrative flow
                        of an article, it holds article resources.
                        Remarks: This element was added because some
                        users of the DTD were adding an extra fake
                        section <sec> at the end of the body to hold
                        the floating material. This is clearly tag
                        abuse since a <sec> should contain authored 
                        content.                                   -->
<!ELEMENT  floats-wrap  %floats-wrap-model;                          > 


<!-- ============================================================= -->
<!--                    SECTION ELEMENTS                           -->
<!-- ============================================================= -->


<!--                    SECTION                                    -->
<!--                    A headed group of material; the basic 
                        structural unit of the article             -->
<!ELEMENT  sec          %sec-model;                                  >
<!--         id         Unique identifier, so the Section can be
                        referenced                   
             xml:lang   The language in which the value of the
                        element is expressed.  Recommended best 
                        practice is to use values as defined in
                        RFC 1766, typically 2-letter language
                        codes such as "FR" (French), "EN" (English),
                        and "DE" (German). These values are NOT
                        case sensitive, so "EN" = "en". The values
                        may include hyphenated differentiations such 
                        as "EN-AU" (Australian English) and "EN-US"
                        (United States English). 
             sec-type   Conversion Note: This attribute may be used
                        to retain information on the semantic
                        content of a section where that is known.
                        Authoring Note: Top-level sections (those 
                        that are not nested inside other sections)
                        may be assigned a "type" attribute for 
                        indexing purposes. This attribute should be
                        used only if the section is one of the listed
                        types and should otherwise be omitted. A
                        section that contains content of more than 
                        one type should have the type IDs combined.
                        (e.g., "Materials and Methods" would be
                        type="materials | methods").  
                        Types values are:         
                          cases     Cases/Case Reports
                          conclusions Conclusions/Comment
                          discussion  Discussion/Interpretation
                          intro     Introduction/Synopsis/Overview
                          materials Materials
                          methods   Methods/Methodology/Procedures
                          results   Results/Statement of Findings
                          subjects  Patients/Participants/Subjects
                          supplementary-material
                                    Supplementary Materials
             disp-level Sometimes in print or on screen, the display
                        or apparent hierarchical level of a section
                        is not the same as its real position in the
                        hierarchy.  For example, in some styles,
                        the "Clinical Finding" Section or the 
                        'Methodology" Section always looks like a 
                        particular level heading (say a level 2 head),
                        wherever it falls in the hierarchy (say a 
                        level 1 head or a level 3 head). This
                        attribute can be used to record the needed
                        display level. (Rare)                      -->
<!ATTLIST  sec
             %sec-atts;                                              >


<!--                    SECTION METADATA                           -->
<!--                    In some articles, each section has a different
                        author or some sections are authored by 
                        different contributors from the enclosing
                        article. This wrapper element for 
                        section-level metadata is used to capture
                        information concerning those contributors. -->
<!ELEMENT  sec-meta     %sec-meta-model;                             >


<!-- ================== End Section Class Module ================= -->
