Samples/DTDs/contrast/book-projects-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--    
        Elsevier CONTRAST schema for EW-Out deliveries for books
        version 1.1

        Copyright (c) 2003-2006 Elsevier B.V.
        $Id: book-projects.xsd,v 1.1 2006/01/12 13:43:01 jmigchie Exp $
-->
<!--    Permission to copy and distribute verbatim copies of this document is granted, 
        provided this notice is included in all copies, but changing it is not allowed. 

        Documentation available at http://www.elsevier.com/locate/xml
-->
<!--    Typical usage:

        <dataset 
          xmlns="http://www.elsevier.com/xml/schema/transport/ew-xcr/book-1.1/book-projects"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.elsevier.com/xml/schema/transport/ew-xcr/book-1.1/book-projects
            http://www.elsevier.com/xml/schema/transport/ew-xcr/book-1.1/book-projects.xsd"
          schema-version="1.1">

-->
<xs:schema targetNamespace="http://www.elsevier.com/xml/schema/transport/ew-xcr/book-1.1/book-projects" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.elsevier.com/xml/schema/transport/ew-xcr/book-1.1/book-projects" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="book-item-project.xsd"/>
    <xs:element name="dataset">
        <xs:annotation>
            <xs:documentation>Top-level element of the dataset</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dataset-unique-ids"/>
                <xs:element ref="dataset-properties"/>
                <xs:element name="dataset-content">
                    <xs:annotation>
                        <xs:documentation>Content of the dataset</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="book-project">
                                <xs:annotation>
                                    <xs:documentation>Book hub</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version">
                                            <xs:annotation>
                                                <xs:documentation>Version number and stage of the book project</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="version-number"/>
                                                    <xs:element name="stage">
                                                        <xs:annotation>
                                                            <xs:documentation>Stage of the deliverable (Q300, H300, H350)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="stages-list">
                                                                <xs:enumeration value="Q300"/>
                                                                <xs:enumeration value="H300"/>
                                                                <xs:enumeration value="H350"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="book-project-unique-ids">
                                            <xs:annotation>
                                                <xs:documentation>Identifications that uniquely determine the book project</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="pii"/>
                                                    <xs:element ref="doi" minOccurs="0"/>
                                                    <xs:element ref="isbn" maxOccurs="2"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="book-project-properties">
                                            <xs:annotation>
                                                <xs:documentation>Properties of the book project</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="working-title" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Title of the book</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="edition" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Edition number of the book (e.g., '3rd edition')</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="prim-auth-surname" type="xs:string" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Optional surname of the primary author</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="book-parent" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Optional ISBN/ISSN of larger family of books to which child book can sometimes belong</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element ref="isbn"/>
                                                                <xs:element ref="issn"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="files-info">
                                            <xs:annotation>
                                                <xs:documentation>Files belonging to the book project</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ml">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element name="purpose">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="ml-purposes-list">
                                                                            <xs:enumeration value="MAIN"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="dtd-version">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="ml-versions-list">
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 EHS-BOOK"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 EHS-BOOK"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 BOOK"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element ref="asset" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="web-pdf" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element name="purpose">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="web-pdf-purposes-list">
                                                                            <xs:enumeration value="COMPLETE"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="pdf-version" type="web-pdf-versions-list"/>
                                                                <xs:element name="pdf-property" type="web-pdf-properties-list"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="book-item" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Book items which belong to a parent book project</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version">
                                            <xs:annotation>
                                                <xs:documentation>Version number and stage of the book item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="version-number"/>
                                                    <xs:element name="stage">
                                                        <xs:annotation>
                                                            <xs:documentation>Stage of the deliverable (Q300, S300, S350)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="stages-list">
                                                                <xs:enumeration value="Q300"/>
                                                                <xs:enumeration value="S300"/>
                                                                <xs:enumeration value="S350"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element ref="book-item-unique-ids"/>
                                        <xs:element name="book-item-properties">
                                            <xs:annotation>
                                                <xs:documentation>Properties of the book item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="branch" type="branches-list">
                                                        <xs:annotation>
                                                            <xs:documentation>Branch of the book (FRONT, BODY, REAR)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="pit" type="pit-list">
                                                        <xs:annotation>
                                                            <xs:documentation>Publication item type</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="production-type" type="production-types-list">
                                                        <xs:annotation>
                                                            <xs:documentation>Production type (NON-CRC, CRC)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="files-info">
                                            <xs:annotation>
                                                <xs:documentation>Files belonging to the book item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ml" maxOccurs="2">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element name="purpose" type="ml-purposes-list"/>
                                                                <xs:element name="dtd-version">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="ml-versions-list">
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 CHAPTER"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 EXAMINATION"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 FB-NON-CHAPTER"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 GLOSSARY"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 INDEX"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 INTRODUCTION"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.0 BIBLIOGRAPHY"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 CHAPTER"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 EXAMINATION"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 FB-NON-CHAPTER"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 GLOSSARY"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 INDEX"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 INTRODUCTION"/>
                                                                            <xs:enumeration value="EHS-BOOKS 5.1.1 BIBLIOGRAPHY"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 CHAPTER"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 SIMPLE-CHAPTER"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 EXAMINATION"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 FB-NON-CHAPTER"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 GLOSSARY"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 INDEX"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 INTRODUCTION"/>
                                                                            <xs:enumeration value="BOOK 5.2.0 BIBLIOGRAPHY"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="weight" type="ml-weights-list"/>
                                                                <xs:element ref="asset" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="web-pdf">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element name="purpose">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="web-pdf-purposes-list">
                                                                            <xs:enumeration value="MAIN"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="pdf-version" type="web-pdf-versions-list"/>
                                                                <xs:element name="pdf-property" type="web-pdf-properties-list"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="raw-text" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Raw ASCII text</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="schema-version" type="xs:token" use="required" fixed="1.1"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
