Samples/DTDs/contrast/book-item-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--    
        Elsevier CONTRAST shared book schema elements
        version 1.1

        Copyright (c) 2003-2006 Elsevier B.V.
        $Id: book-item-project.xsd,v 1.1 2006/01/12 13:42:26 jmigchie Exp $
-->
<!--    Permission to copy and distribute verbatim copies of this document is granted, 
        provided this notice is included in all copies, but changing it is not allowed. 

        Documentation available at http://www.elsevier.com/locate/xml
-->
<!--
        Typical invocation:
        
        <xs:include schemaLocation="book-item-project.xsd"/>
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="dataset-unique-ids">
        <xs:annotation>
            <xs:documentation>Identification of the dataset</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="profile-code" type="xs:token">
                    <xs:annotation>
                        <xs:documentation>Unique code identifying the EW output profile</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="profile-dataset-id" type="xs:token">
                    <xs:annotation>
                        <xs:documentation>ID of the dataset, unique per profile</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="timestamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Date and time when dataset was finalized</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataset-properties">
        <xs:annotation>
            <xs:documentation>Information about the dataset</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dataset-action" type="dataset-actions-list">
                    <xs:annotation>
                        <xs:documentation>Specifies what needs to happen with the dataset (LOAD, RELOAD)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="production-process" type="production-processes-list">
                    <xs:annotation>
                        <xs:documentation>Indication of the production process (CAP, PRECAP, CONVERSION, PROJECT)</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="book-item-unique-ids">
        <xs:annotation>
            <xs:documentation>Identifiers that uniquely identify the book item</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pii"/>
                <xs:element ref="doi" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pii" type="xs:token">
        <xs:annotation>
            <xs:documentation>PII of the dataset member</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="doi">
        <xs:annotation>
            <xs:documentation>DOI of the dataset member</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="10\.\d{4}/.+"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="pre-isbn">
        <xs:restriction base="xs:token">
            <xs:pattern value="(97[89]\-)?\d{1,5}\-\d{1,7}\-\d{1,6}\-[\dX]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="isbn">
        <xs:annotation>
            <xs:documentation>ISBN of the book project</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="pre-isbn">
                <xs:pattern value="(97[89]\-)?\d[\d\-]{9}\d\-[\dX]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="issn">
        <xs:annotation>
            <xs:documentation>ISSN of the book series</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="\d{4}\-\d{3}[\dX]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="asset">
        <xs:annotation>
            <xs:documentation>Asset belonging to an XML/SGML file</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pathname"/>
                <xs:element name="type" type="asset-types-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pathname" type="xs:token">
        <xs:annotation>
            <xs:documentation>The full path of the manifestation within the dataset</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="version-number">
        <xs:annotation>
            <xs:documentation>Version number (e.g., 1.1, 1.2, 1.419, 2.1, 3.2, etc.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="[0-6]\.[1-9]\d{0,3}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="asset-types-list">
        <xs:annotation>
            <xs:documentation>List of ML asset types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="APPLICATION"/>
            <xs:enumeration value="IMAGE-CAP"/>
            <xs:enumeration value="IMAGE-NONCAP"/>
            <xs:enumeration value="IMAGE-COVER"/>
            <xs:enumeration value="IMAGE-DOWNSAMPLED"/>
            <xs:enumeration value="IMAGE-THUMBNAIL"/>
            <xs:enumeration value="IMAGE-COVER-H150"/>
            <xs:enumeration value="IMAGE-COVER-H200"/>
            <xs:enumeration value="AUDIO"/>
            <xs:enumeration value="VIDEO"/>
            <xs:enumeration value="XML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="asset-views-list">
        <xs:annotation>
            <xs:documentation>List of ML asset views</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="standard"/>
            <xs:enumeration value="extended"/>
            <xs:enumeration value="compact-standard"/>
            <xs:enumeration value="standard-extended"/>
            <xs:enumeration value="all"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataset-actions-list">
        <xs:annotation>
            <xs:documentation>Dataset actions list</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="RELOAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-purposes-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML purposes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="MAIN"/>
            <xs:enumeration value="CHANGES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-versions-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML versions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="EHS-BOOKS 5.1.0 EHS-BOOK"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 CHAPTER"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 EXAMINATION"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 FB-NON-CHAPTER"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 GLOSSARY"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 INDEX"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 INTRODUCTION"/>
            <xs:enumeration value="EHS-BOOKS 5.1.0 BIBLIOGRAPHY"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 EHS-BOOK"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 CHAPTER"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 EXAMINATION"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 FB-NON-CHAPTER"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 GLOSSARY"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 INDEX"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 INTRODUCTION"/>
            <xs:enumeration value="EHS-BOOKS 5.1.1 BIBLIOGRAPHY"/>
            <xs:enumeration value="BOOK 5.2.0 BOOK"/>
            <xs:enumeration value="BOOK 5.2.0 CHAPTER"/>
            <xs:enumeration value="BOOK 5.2.0 SIMPLE-CHAPTER"/>
            <xs:enumeration value="BOOK 5.2.0 EXAMINATION"/>
            <xs:enumeration value="BOOK 5.2.0 FB-NON-CHAPTER"/>
            <xs:enumeration value="BOOK 5.2.0 GLOSSARY"/>
            <xs:enumeration value="BOOK 5.2.0 INDEX"/>
            <xs:enumeration value="BOOK 5.2.0 INTRODUCTION"/>
            <xs:enumeration value="BOOK 5.2.0 BIBLIOGRAPHY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-weights-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML weights</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="FULL-TEXT"/>
            <xs:enumeration value="HEAD-AND-TAIL"/>
            <xs:enumeration value="CONTENTS-ENTRY-ONLY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="pit-list">
        <xs:annotation>
            <xs:documentation>List of possible values for Publishing Item Type (PIT)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EHS"/>
            <xs:enumeration value="BK"/>
            <xs:enumeration value="CHP"/>
            <xs:enumeration value="SCP"/>
            <xs:enumeration value="EXM"/>
            <xs:enumeration value="GLS"/>
            <xs:enumeration value="IDX"/>
            <xs:enumeration value="ITR"/>
            <xs:enumeration value="BIB"/>
            <xs:enumeration value="APP"/>
            <xs:enumeration value="BIO"/>
            <xs:enumeration value="FOR"/>
            <xs:enumeration value="PRE"/>
            <xs:enumeration value="ACK"/>
            <xs:enumeration value="CTR"/>
            <xs:enumeration value="REV"/>
            <xs:enumeration value="HTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="production-processes-list">
        <xs:annotation>
            <xs:documentation>List of production processes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="CAP"/>
            <xs:enumeration value="PRECAP"/>
            <xs:enumeration value="CONVERSION"/>
            <xs:enumeration value="PROJECT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="production-types-list">
        <xs:annotation>
            <xs:documentation>List of production types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="NON-CRC"/>
            <xs:enumeration value="CRC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stages-list">
        <xs:annotation>
            <xs:documentation>Stage list</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="H300"/>
            <xs:enumeration value="S300"/>
            <xs:enumeration value="H350"/>
            <xs:enumeration value="S350"/>
            <xs:enumeration value="Q300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-properties-list">
        <xs:annotation>
            <xs:documentation>List of web PDF properties</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="WRAPPED"/>
            <xs:enumeration value="WRAPPED OPTIMIZED"/>
            <xs:enumeration value="DISTILLED"/>
            <xs:enumeration value="DISTILLED BOOKMARKED"/>
            <xs:enumeration value="DISTILLED OPTIMIZED"/>
            <xs:enumeration value="DISTILLED OPTIMIZED BOOKMARKED"/>
            <xs:enumeration value="INTERPRETED"/>
            <xs:enumeration value="INTERPRETED OPTIMIZED"/>
            <xs:enumeration value="INTERPRETED OPTIMIZED BOOKMARKED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-purposes-list">
        <xs:annotation>
            <xs:documentation>List of web PDF purposes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="MAIN"/>
            <xs:enumeration value="GRAPHICAL-ABSTRACT"/>
            <xs:enumeration value="STEREOCHEMISTRY-ABSTRACT"/>
            <xs:enumeration value="AUTHOR-QUERY"/>
            <xs:enumeration value="COMPLETE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-versions-list">
        <xs:annotation>
            <xs:documentation>List of web PDF versions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="1.1"/>
            <xs:enumeration value="1.2"/>
            <xs:enumeration value="1.3"/>
            <xs:enumeration value="1.4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="branches-list">
        <xs:annotation>
            <xs:documentation>List of book item branches</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="FRONT"/>
            <xs:enumeration value="BODY"/>
            <xs:enumeration value="REAR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
