Samples/DTDs/contrast/issues.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--    
        Elsevier CONTRAST schema for EW-Out deliveries for journal issues
        Version 2010.2

        Copyright (c) 2003-2010 Elsevier B.V.
        $Id: issues.xsd,v 1.2 2010/06/28 12:13:46 grajasek Exp $
-->
<!--    Permission to copy and distribute verbatim copies of this document is granted, 
        provided this notice is included in all copies, but changing it is not allowed. 

        Documentation available at http://www.elsevier.com/locate/xml
-->
<!--    Typical usage:

        <dataset 
          xmlns="http://www.elsevier.com/xml/schema/transport/ew-xcr/journal-2010.2/issues"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.elsevier.com/xml/schema/transport/ew-xcr/journal-2010.2/issues
            http://www.elsevier.com/xml/schema/transport/ew-xcr/journal-2010.2/issues.xsd"
          schema-version="2010.2">

-->
<xs:schema targetNamespace="http://www.elsevier.com/xml/schema/transport/ew-xcr/journal-2010.2/issues" xmlns="http://www.elsevier.com/xml/schema/transport/ew-xcr/journal-2010.2/issues" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="journal-item-issue.xsd"/>
    <xs:element name="dataset">
        <xs:annotation>
            <xs:documentation>CONTRAST EW-Out issues dataset</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dataset-unique-ids"/>
                <xs:element name="dataset-properties">
                    <xs:annotation>
                        <xs:documentation>Information about the dataset</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dataset-action" type="dataset-actions-list">
                                <xs:annotation>
                                    <xs:documentation>Specifies what needs to happen with the dataset (LOAD, RELOAD, PARTIAL-RELOAD)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="production-process" type="production-processes-list">
                                <xs:annotation>
                                    <xs:documentation>Indication of the production process (CAP, PRECAP, MIXED, PROJECT)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dataset-content">
                    <xs:annotation>
                        <xs:documentation>Content of the dataset</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="journal-issue">
                                <xs:annotation>
                                    <xs:documentation>Issue hub</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version">
                                            <xs:annotation>
                                                <xs:documentation>Version number and stage of the issue</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="version-number">
                                                        <xs:annotation>
                                                            <xs:documentation>Version number (e.g., 1.1, 1.2, 1.419, 3.2, S100.1, S300.6, H300.3, etc.)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="version-number-patterns">
                                                                <xs:pattern value="[0-6]\.[1-9]\d{0,3}"/>
                                                                <xs:pattern value="((F300)|(H100)|(H200)|(H300)|(H350)|(Q300))\.[1-9]\d{0,3}"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="stage">
                                                        <xs:annotation>
                                                            <xs:documentation>Stage of the deliverable (H100, H300, H350, Q300, F300)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="stages-list">
                                                                <xs:enumeration value="F300"/>
                                                                <xs:enumeration value="H200"/>
                                                                <xs:enumeration value="H300"/>
                                                                <xs:enumeration value="H350"/>
                                                                <xs:enumeration value="Q300"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="journal-issue-unique-ids">
                                            <xs:annotation>
                                                <xs:documentation>Identifications that uniquely determine the journal issue</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="pii"/>
                                                    <xs:element ref="doi" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="journal-issue-properties">
                                            <xs:annotation>
                                                <xs:documentation>Properties of the journal issue</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="jid" type="xs:token">
                                                        <xs:annotation>
                                                            <xs:documentation>PTSIII journal code</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element ref="issn"/>
                                                    <xs:element name="volume-issue-number">
                                                        <xs:annotation>
                                                            <xs:documentation>Volume/issue number according to the volume/issue numbering scheme</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="vol-first" type="xs:nonNegativeInteger">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Volume number or first of a range of volume numbers</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:choice>
                                                                    <xs:sequence>
                                                                        <xs:element name="vol-last" type="xs:positiveInteger">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Last of a range of volume numbers</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="suppl" type="xs:token">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Supplementary info about the volume/issue number</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:sequence>
                                                                        <xs:element name="iss-first" type="xs:nonNegativeInteger">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Issue number or first of a range of issue numbers</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="iss-last" type="xs:positiveInteger" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Last of a range of issue numbers</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="suppl" type="xs:token" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Supplementary info about the volume/issue number</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:element name="suppl" type="xs:token">
                                                                        <xs:annotation>
                                                                            <xs:documentation>Supplementary info about the volume/issue number</xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:element>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element ref="embargo" minOccurs="0"/>
                                                    <xs:element ref="online-publication-date" minOccurs="0"/>
                                                    <xs:element ref="isbn" minOccurs="0" maxOccurs="2"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="files-info">
                                            <xs:annotation>
                                                <xs:documentation>Files belonging to the journal issue</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ml" minOccurs="1" maxOccurs="2">
                                                        <xs:annotation>
                                                            <xs:documentation>SGML/XML manifestations</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element ref="filesize"/>
                                                                <xs:choice>
                                                                    <xs:sequence>
                                                                        <xs:element name="purpose">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="ml-purposes-list">
                                                                                    <xs:enumeration value="MAIN"/>
                                                                                    <xs:enumeration value="AUXILIARY"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                        <xs:element name="dtd-version">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:token">
                                                                                    <xs:enumeration value="SI 5.1.0"/>
                                                                                    <xs:enumeration value="INFOPATH"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:element name="schema-version">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:token">
                                                                                <xs:enumeration value="print 1.0"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                </xs:choice>
                                                                <xs:element ref="asset" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:choice minOccurs="0">
                                                        <xs:element name="web-pdf" maxOccurs="unbounded">
                                                            <xs:annotation>
                                                                <xs:documentation>Web PDF manifestations</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element ref="pathname"/>
                                                                    <xs:element ref="filesize"/>
                                                                    <xs:element name="pdf-version" type="web-pdf-versions-list"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="print-pdf" maxOccurs="unbounded">
                                                            <xs:annotation>
                                                                <xs:documentation>Print PDF manifestations</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element ref="pathname"/>
                                                                    <xs:element ref="filesize"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="journal-item" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Journal items belonging to the issue. Has attribute 'type'</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version">
                                            <xs:annotation>
                                                <xs:documentation>Version number and stage of the item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="version-number">
                                                        <xs:annotation>
                                                            <xs:documentation>Version number (e.g., 1.1, 1.2, 1.419, 3.2, S100.1, S300.6, H300.3, etc.)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="version-number-patterns">
                                                                <xs:pattern value="[0-6]\.[1-9]\d{0,3}"/>
                                                                <xs:pattern value="((S250)|(S300)|(S350)|(Q300))\.[1-9]\d{0,3}"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="stage">
                                                        <xs:annotation>
                                                            <xs:documentation>Stage of the deliverable (Q300, S300, S350)</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="stages-list">
                                                                <xs:enumeration value="S250"/>
                                                                <xs:enumeration value="S300"/>
                                                                <xs:enumeration value="S350"/>
                                                                <xs:enumeration value="Q300"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="journal-item-unique-ids">
                                            <xs:annotation>
                                                <xs:documentation>Identifications that uniquely determine the journal item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="pii"/>
                                                    <xs:element ref="doi" minOccurs="0"/>
                                                    <xs:element name="jid-aid">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="jid" type="xs:token">
                                                                    <xs:annotation>
                                                                        <xs:documentation>PTSIII journal code</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element ref="issn"/>
                                                                <xs:element name="aid" type="xs:token">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Article AID</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element ref="journal-item-properties">
                                            <xs:annotation>
                                                <xs:documentation>Properties of the item</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="files-info">
                                            <xs:annotation>
                                                <xs:documentation>Files belonging to the item</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ml" minOccurs="0" maxOccurs="32">
                                                        <xs:annotation>
                                                            <xs:documentation>SGML/XML manifestation</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element ref="filesize"/>
                                                                <xs:element name="purpose" type="ml-purposes-list"/>
                                                                <xs:element name="dtd-version" type="ml-versions-list-journal-item"/>
                                                                <xs:element name="weight" type="ml-weights-list"/>
                                                                <xs:element ref="asset" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Asset belonging to an XML/SGML file</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="web-pdf" minOccurs="0" maxOccurs="2">
                                                        <xs:annotation>
                                                            <xs:documentation>Web PDF manifestation</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element ref="filesize"/>
                                                                <xs:element name="purpose">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="web-pdf-purposes-list">
                                                                            <xs:enumeration value="MAIN"/>
                                                                            <xs:enumeration value="MAIN-ABRIDGED"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="pdf-version" type="web-pdf-versions-list"/>
                                                                <xs:element name="pdf-property" type="web-pdf-properties-list"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="raw-text" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Raw ASCII text</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="pathname"/>
                                                                <xs:element ref="filesize"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="journal-item-types-list" use="optional" default="stand-alone"/>
                                    <xs:attribute name="omitted" type="xs:boolean" default="false"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="schema-version" type="xs:token" use="required" fixed="2010.2"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
