Samples/DTDs/contrast/journal-item-issue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--    
        Elsevier CONTRAST shared journal schema elements
        Version 2010.2

        Copyright (c) 2003-2010 Elsevier B.V.
        $Id: journal-item-issue.xsd,v 1.3 2010/06/28 12:13:47 grajasek Exp $
-->
<!--    Permission to copy and distribute verbatim copies of this document is granted, 
        provided this notice is included in all copies, but changing it is not allowed. 

        Documentation available at http://www.elsevier.com/locate/xml
-->
<!--
        Typical invocation:
        
        <xs:include schemaLocation="journal-item-issue.xsd"/>
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="dataset-unique-ids">
        <xs:annotation>
            <xs:documentation>Identification of the dataset</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="profile-code" type="xs:token">
                    <xs:annotation>
                        <xs:documentation>Unique code identifying the EW output profile</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="profile-dataset-id" type="xs:token">
                    <xs:annotation>
                        <xs:documentation>ID of the dataset, unique per profile</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="timestamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>Date and time when dataset was finalized</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="journal-item-properties">
        <xs:annotation>
            <xs:documentation>Properties of the item</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pit"/>
                <xs:element ref="production-type"/>
                <xs:element ref="embargo" minOccurs="0"/>
                <xs:element ref="sponsored-access" minOccurs="0"/>
                <xs:element ref="delayed-sponsored-article" minOccurs="0"/>
                <xs:element ref="delayed-restricted-article" minOccurs="0"/>
                <xs:element ref="funding-body-id" minOccurs="0"/>
                <xs:element ref="online-publication-date" minOccurs="0"/>
                <xs:element ref="batch" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="embargo" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Embargo date-time</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="jid">
        <xs:annotation>
            <xs:documentation>PTSIII journal code</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="(BS:)?[A-Z][A-Z\d]{1,5}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="issn">
        <xs:annotation>
            <xs:documentation>ISSN of the journal or book series at the time of delivery</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="\d{4}\-\d{3}[\dX]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="pre-isbn">
        <xs:restriction base="xs:token">
            <xs:pattern value="(97[89]\-)?\d{1,5}\-\d{1,7}\-\d{1,6}\-[\dX]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="isbn">
        <xs:annotation>
            <xs:documentation>ISBN of the issue or volume</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="pre-isbn">
                <xs:pattern value="(97[89]\-)?\d[\d\-]{9}\d\-[\dX]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="pii" type="xs:token"/>
    <xs:element name="doi">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="10\.\d{4}/.+"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="asset">
        <xs:annotation>
            <xs:documentation>Asset belonging to an XML/SGML file</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pathname"/>
                <xs:element ref="filesize"/>
                <xs:element name="type" type="asset-types-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pathname" type="xs:token">
        <xs:annotation>
            <xs:documentation>The full path of the manifestation within the dataset</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filesize" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>The filesize in bytes of the manifestation</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="batch">
        <xs:annotation>
            <xs:documentation>Reference to item that represents batch</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pii"/>
                <xs:element ref="doi" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parent-item">
        <xs:annotation>
            <xs:documentation>Reference to parent item</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pii"/>
                <xs:element ref="doi" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="version-number-patterns">
        <xs:annotation>
            <xs:documentation>Version number (e.g., 1.1, 1.419, 3.2, S100.1, S250.1, S300.6, H300.3,
            etc.)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-6]\.[1-9]\d{0,3}"/>
            <xs:pattern
                value="((S5)|(S100)|(S200)|(S250)|(S300)|(S350)|(Q200)|(Q300)|(H100)|(H200)|(H300)|(H350)|(F300))\.[1-9]\d{0,3}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pit" type="journal-item-pits-list">
        <xs:annotation>
            <xs:documentation>Publication item type (FLA, SCO, ...)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="production-type" type="production-types-list">
        <xs:annotation>
            <xs:documentation>Production type (NON-CRC, CRC)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="production-details">
        <xs:annotation>
            <xs:documentation>PTSIII signal information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pdf-pages" type="xs:positiveInteger"/>
                <xs:element name="page-fraction-body" type="xs:nonNegativeInteger"/>
                <xs:element name="page-fraction-trail" type="xs:nonNegativeInteger"/>
                <xs:element name="supp-prod-type" type="supplier-production-types-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sponsored-access">
        <xs:annotation>
            <xs:documentation>Sponsored access flag</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="sponsored-access-types-list"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="delayed-sponsored-article">
        <xs:complexType>
            <xs:attribute name="release-date" type="xs:date"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="delayed-restricted-article">
        <xs:complexType>
            <xs:attribute name="release-date" type="xs:date"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="funding-body-id" type="xs:token">
        <xs:annotation>
            <xs:documentation>Funding body ID</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="online-publication-date" type="xs:date">
        <xs:annotation>
            <xs:documentation>Online publication date</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:simpleType name="asset-types-list">
        <xs:annotation>
            <xs:documentation>List of ML asset types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="APPLICATION"/>
            <xs:enumeration value="IMAGE-CAP"/>
            <xs:enumeration value="IMAGE-NONCAP"/>
            <xs:enumeration value="IMAGE-COVER"/>
            <xs:enumeration value="IMAGE-HIGH-RES"/>
            <xs:enumeration value="IMAGE-DOWNSAMPLED"/>
            <xs:enumeration value="IMAGE-THUMBNAIL"/>
            <xs:enumeration value="IMAGE-MMC"/>
            <xs:enumeration value="IMAGE-MMC-HIGH-RES"/>
            <xs:enumeration value="IMAGE-MMC-DOWNSAMPLED"/>
            <xs:enumeration value="IMAGE-MMC-THUMBNAIL"/>
            <xs:enumeration value="IMAGE-COVER-H150"/>
            <xs:enumeration value="IMAGE-COVER-H200"/>
            <xs:enumeration value="AUDIO"/>
            <xs:enumeration value="VIDEO"/>
            <xs:enumeration value="VIDEO-FLASH"/>
            <xs:enumeration value="XML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataset-actions-list">
        <xs:annotation>
            <xs:documentation>Dataset actions list</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="RELOAD"/>
            <xs:enumeration value="PARTIAL-RELOAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="journal-item-pits-list">
        <xs:annotation>
            <xs:documentation>PIT list</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="ABS"/>
            <xs:enumeration value="ADD"/>
            <xs:enumeration value="ADV"/>
            <xs:enumeration value="ANN"/>
            <xs:enumeration value="BRV"/>
            <xs:enumeration value="CAL"/>
            <xs:enumeration value="CNF"/>
            <xs:enumeration value="CON"/>
            <xs:enumeration value="COR"/>
            <xs:enumeration value="DIS"/>
            <xs:enumeration value="EDB"/>
            <xs:enumeration value="EDI"/>
            <xs:enumeration value="ERR"/>
            <xs:enumeration value="EXM"/>
            <xs:enumeration value="FLA"/>
            <xs:enumeration value="IND"/>
            <xs:enumeration value="LIT"/>
            <xs:enumeration value="MIS"/>
            <xs:enumeration value="NWS"/>
            <xs:enumeration value="OCN"/>
            <xs:enumeration value="PNT"/>
            <xs:enumeration value="PRP"/>
            <xs:enumeration value="PRV"/>
            <xs:enumeration value="PUB"/>
            <xs:enumeration value="REQ"/>
            <xs:enumeration value="REV"/>
            <xs:enumeration value="SCO"/>
            <xs:enumeration value="SSU"/>
            <xs:enumeration value="RET"/>
            <xs:enumeration value="REM"/>
            <xs:enumeration value="DUP"/>
            <xs:enumeration value="CHP"/>
            <xs:enumeration value="COP"/>
            <xs:enumeration value="PGL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="journal-item-types-list">
        <xs:annotation>
            <xs:documentation>List of item types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="stand-alone"/>
            <xs:enumeration value="with-add-ons"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-purposes-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML purposes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="MAIN"/>
            <xs:enumeration value="CHANGES"/>
            <xs:enumeration value="ORIGINAL"/>
            <xs:enumeration value="LINKED-TEXTBOX"/>
            <xs:enumeration value="ELAN"/>
            <xs:enumeration value="AUXILIARY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-versions-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML versions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="FLA 3.0.0"/>
            <xs:enumeration value="FLA 4.1.0"/>
            <xs:enumeration value="FLA 4.2.0"/>
            <xs:enumeration value="FLA 4.3.1"/>
            <xs:enumeration value="JA 4.5.2 CONVERTED-ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.0.1 EXAM"/>
            <xs:enumeration value="JA 5.0.2 ARTICLE"/>
            <xs:enumeration value="JA 5.0.2 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.0.2 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.0.2 EXAM"/>
            <xs:enumeration value="JA 5.1.0 ARTICLE"/>
            <xs:enumeration value="JA 5.1.0 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.1.0 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.1.0 EXAM"/>
            <xs:enumeration value="SI 5.1.0"/>
            <xs:enumeration value="INFOPATH"/>
            <xs:enumeration value="Out-JA 4.5.2 CONVERTED-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 SIMPLE-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 BOOK-REVIEW"/>
            <xs:enumeration value="Out-JA 5.0.1 EXAM"/>
            <xs:enumeration value="Out-JA 5.0.2 ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.2 SIMPLE-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.2 BOOK-REVIEW"/>
            <xs:enumeration value="Out-JA 5.0.2 EXAM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-versions-list-journal-item">
        <xs:annotation>
            <xs:documentation>List of SGML/XML versions for journal items</xs:documentation>
        </xs:annotation>
        <xs:restriction base="ml-versions-list">
            <xs:enumeration value="FLA 3.0.0"/>
            <xs:enumeration value="FLA 4.1.0"/>
            <xs:enumeration value="FLA 4.2.0"/>
            <xs:enumeration value="FLA 4.3.1"/>
            <xs:enumeration value="JA 4.5.2 CONVERTED-ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.0.1 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.0.1 EXAM"/>
            <xs:enumeration value="JA 5.0.2 ARTICLE"/>
            <xs:enumeration value="JA 5.0.2 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.0.2 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.0.2 EXAM"/>
            <xs:enumeration value="JA 5.1.0 ARTICLE"/>
            <xs:enumeration value="JA 5.1.0 SIMPLE-ARTICLE"/>
            <xs:enumeration value="JA 5.1.0 BOOK-REVIEW"/>
            <xs:enumeration value="JA 5.1.0 EXAM"/>
            <xs:enumeration value="INFOPATH"/>
            <xs:enumeration value="Out-JA 4.5.2 CONVERTED-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 SIMPLE-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.1 BOOK-REVIEW"/>
            <xs:enumeration value="Out-JA 5.0.1 EXAM"/>
            <xs:enumeration value="Out-JA 5.0.2 ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.2 SIMPLE-ARTICLE"/>
            <xs:enumeration value="Out-JA 5.0.2 BOOK-REVIEW"/>
            <xs:enumeration value="Out-JA 5.0.2 EXAM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ml-weights-list">
        <xs:annotation>
            <xs:documentation>List of SGML/XML weights</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="FULL-TEXT"/>
            <xs:enumeration value="HEAD-AND-TAIL"/>
            <xs:enumeration value="HEAD-ONLY"/>
            <xs:enumeration value="CONTENTS-ENTRY-ONLY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sponsored-access-types-list">
        <xs:annotation>
            <xs:documentation>List of open access types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="UNLIMITED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="production-processes-list">
        <xs:annotation>
            <xs:documentation>List of production processes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="CAP"/>
            <xs:enumeration value="PRECAP"/>
            <xs:enumeration value="CONVERSION"/>
            <xs:enumeration value="MIXED"/>
            <xs:enumeration value="PROJECT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="production-types-list">
        <xs:annotation>
            <xs:documentation>List of production types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="NON-CRC"/>
            <xs:enumeration value="CRC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stages-list">
        <xs:annotation>
            <xs:documentation>List of stages</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="S5"/>
            <xs:enumeration value="S100"/>
            <xs:enumeration value="S200"/>
            <xs:enumeration value="S250"/>
            <xs:enumeration value="S300"/>
            <xs:enumeration value="S350"/>
            <xs:enumeration value="H100"/>
            <xs:enumeration value="H200"/>
            <xs:enumeration value="H300"/>
            <xs:enumeration value="H350"/>
            <xs:enumeration value="F300"/>
            <xs:enumeration value="Q300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="supplier-production-types-list">
        <xs:annotation>
            <xs:documentation>List of PTSIII production types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="CRC"/>
            <xs:enumeration value="COM"/>
            <xs:enumeration value="COX"/>
            <xs:enumeration value="FTP"/>
            <xs:enumeration value="FTX"/>
            <xs:enumeration value="GEN"/>
            <xs:enumeration value="PRS"/>
            <xs:enumeration value="TEX"/>
            <xs:enumeration value="TYP"/>
            <xs:enumeration value="TYX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-properties-list">
        <xs:annotation>
            <xs:documentation>List of web PDF properties</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="WRAPPED"/>
            <xs:enumeration value="WRAPPED OPTIMIZED"/>
            <xs:enumeration value="DISTILLED"/>
            <xs:enumeration value="DISTILLED BOOKMARKED"/>
            <xs:enumeration value="DISTILLED OPTIMIZED"/>
            <xs:enumeration value="DISTILLED OPTIMIZED BOOKMARKED"/>
            <xs:enumeration value="INTERPRETED"/>
            <xs:enumeration value="INTERPRETED OPTIMIZED"/>
            <xs:enumeration value="INTERPRETED OPTIMIZED BOOKMARKED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-purposes-list">
        <xs:annotation>
            <xs:documentation>List of web PDF purposes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="MAIN"/>
            <xs:enumeration value="MAIN-ABRIDGED"/>
            <xs:enumeration value="GRAPHICAL-ABSTRACT"/>
            <xs:enumeration value="STEREOCHEMISTRY-ABSTRACT"/>
            <xs:enumeration value="AUTHOR-QUERY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="web-pdf-versions-list">
        <xs:annotation>
            <xs:documentation>List of web PDF versions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="1.1"/>
            <xs:enumeration value="1.2"/>
            <xs:enumeration value="1.3"/>
            <xs:enumeration value="1.4"/>
            <xs:enumeration value="1.4 6.0"/>
            <xs:enumeration value="1.7 6.1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
