Samples/DTDs/IOP/iopv1_4_1.dtd

<!--======================================================================

IOPART DTD

Copyright (C) 2000, Institute Of Physics  All rights reserved.
Copyright (C) 2000, TechBooks  All rights reserved.

Filename: iopart.dtd

Change History:

Implemented By:
        TechBooks
        11150 Main Strett, Suite 402
        Fairfax, VA 22030
        USA
        Telephone: +1 703 352 0001
        Fax:       +1 703 352 8862
        Email:     dtd-team@techbooks.com

====================================================================== -->
<!-- ======================================================================
     IOPart XML V1.4.1 DTD
     Copyright (C) 2000 

     ====================================================================== -->
<!-- Changes History V1.4.1 -->
<!--
09/21/01 - Included new attributes SHOWID and JOINWITH to ADDRESS -->
<!-- Changes History V1.4 -->
<!--
09/04/01 - Included new attribute OVERRIDE to EQNREF, FIGREF, TABREF, FNREF, SECREF and TEXTREF
09/04/01 - Revised content model of DEFINITION to exclude %f.emph; 
08/30/01 - Included new attributes OVERRIDE and SHOW to CITE
08/30/01 - Included new attribute AUTHOR to %a.ref;
08/30/01 - Included new attribute PRINT to SUBJECT-CODES, KEYWORDS and INDEX-TERMS
07/31/01 - Revised content model of %f.disptext and %f.block to include DEFINITION
07/31/01 - Added new elements EQN-GROUP, DEFINITION
07/31/01 - Included new attribute PATTERN to ORDERED-LIST
07/31/01 - Included new attribute PRINT to AU
-->
<!-- Changes History V1.3.2 -->
<!--
06/08/01 - Revised content model of % f.jnl-data to include "jnl-shortname"
06/04/01 - Revised content model of query-ref to include "#PCDATA | %f.emph;"
06/04/01 - Added new element "FEATURES"
06/04/01 - Revised content model of % f.article-data to include "features"
06/04/01 - Added new attribute "colour" to graphic-file element
06/04/01 - Added new attribute "print" to class-codes element -->
<!-- Changes History V1.3.1 -->
<!--
03/28/01 - Allowed class-codes multiple times within classifications
03/28/01 - Included "style" attribute to PROCLAIM element
03/28/01 - Included "type" attribute to P element
03/28/01 - Revised "type" attribute of ADDRESS to include 
           "government"
03/28/01 - Included "recommended" attribute to HISTORY element
03/28/01 - Revised content model of HEADER to move 
           TABLE-OF-CONTENTS after DEDICATION
03/28/01 - Revised "level" attribute of TABLE-OF-CONTENTS to include "3"
03/28/01 - Revised content model of %f.article-data to include "type-number"
03/28/01 - Revised content model of %f.emph to include "query-ref"
03/28/01 - Revised content model of ARTICLE to include "queries"
03/28/01 - Include new elements QUERY-REF, QUERIES and QUERY
-->

<!-- Notation declarations  ....... -->

<!NOTATION DVI SYSTEM "DVI">
<!NOTATION EPS PUBLIC 
"+//ISBN 0-201-18127-4::Adobe//NOTATION PostScript Language Ref. Manual//EN">
<!NOTATION GIF SYSTEM "GIF">
<!NOTATION GIF87a PUBLIC "-//CompuServe//NOTATION Graphics Interchange Format 87a//EN">
<!NOTATION GIF89a PUBLIC "-//CompuServe//NOTATION Graphics Interchange Format 89a//EN">
<!NOTATION JPG SYSTEM "JPG">
<!NOTATION JPEG SYSTEM "JPG">
<!NOTATION IGES PUBLIC "-//USA-DOD//NOTATION (ASME/ANSI Y14.26M-1987) Initial Graphics Exchange Specification//EN">
<!NOTATION PS SYSTEM "PS">
<!NOTATION TeX PUBLIC "+//ISBN 0-201-13448-9::Knuth//NOTATION The TeXbook//EN">
<!NOTATION LaTeX PUBLIC "+//ISBN 0-201-13448-9::Knuth//NOTATION The TeXbook//EN">

<!-- ISO character entity sets ..... -->

<!ENTITY % ISOamsa.module "INCLUDE">
<![%ISOamsa.module;[
<!ENTITY % ISOamsa PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Arrow Relations//EN//XML" "ent/iso-amsa.ent">
%ISOamsa;
<!--end of ISOamsa.module-->]]>

<!ENTITY % ISOamsb.module "INCLUDE">
<![%ISOamsb.module;[
<!ENTITY % ISOamsb PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Binary Operators//EN//XML" "ent/iso-amsb.ent">
%ISOamsb;
<!--end of ISOamsb.module-->]]>

<!ENTITY % ISOamsc.module "INCLUDE">
<![%ISOamsc.module;[
<!ENTITY % ISOamsc PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Delimiters//EN//XML" "ent/iso-amsc.ent">
%ISOamsc;
<!--end of ISOamsc.module-->]]>

<!ENTITY % ISOamsn.module "INCLUDE">
<![%ISOamsn.module;[
<!ENTITY % ISOamsn PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Negated Relations//EN//XML" "ent/iso-amsn.ent">
%ISOamsn;
<!--end of ISOamsn.module-->]]>

<!ENTITY % ISOamso.module "INCLUDE">
<![%ISOamso.module;[
<!ENTITY % ISOamso PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Ordinary//EN//XML" "ent/iso-amso.ent">
%ISOamso;
<!--end of ISOamso.module-->]]>

<!ENTITY % ISOamsr.module "INCLUDE">
<![%ISOamsr.module;[
<!ENTITY % ISOamsr PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Relations//EN//XML" "ent/iso-amsr.ent">
%ISOamsr;
<!--end of ISOamsr.module-->]]>

<!ENTITY % ISObox.module "INCLUDE">
<![%ISObox.module;[
<!ENTITY % ISObox PUBLIC "ISO 8879:1986//ENTITIES Box and Line Drawing//EN//XML" "ent/iso-box.ent">
%ISObox;
<!--end of ISObox.module-->]]>

<!ENTITY % ISOcyr1.module "INCLUDE">
<![%ISOcyr1.module;[
<!ENTITY % ISOcyr1 PUBLIC "ISO 8879:1986//ENTITIES Russian Cyrillic//EN//XML" "ent/iso-cyr1.ent">
%ISOcyr1;
<!--end of ISOcyr1.module-->]]>

<!ENTITY % ISOcyr2.module "INCLUDE">
<![%ISOcyr2.module;[
<!ENTITY % ISOcyr2 PUBLIC "ISO 8879:1986//ENTITIES Non-Russian Cyrillic//EN//XML" "ent/iso-cyr2.ent">
%ISOcyr2;
<!--end of ISOcyr2.module-->]]>

<!ENTITY % ISOdia.module "INCLUDE">
<![%ISOdia.module;[
<!ENTITY % ISOdia PUBLIC "ISO 8879:1986//ENTITIES Diacritical Marks//EN//XML" "ent/iso-dia.ent">
%ISOdia;
<!--end of ISOdia.module-->]]>

<!ENTITY % ISOgrk1.module "INCLUDE">
<![%ISOgrk1.module;[
<!ENTITY % ISOgrk1 PUBLIC "ISO 8879:1986//ENTITIES Greek Letters//EN//XML" "ent/iso-grk1.ent">
%ISOgrk1;
<!--end of ISOgrk1.module-->]]>

<!ENTITY % ISOgrk2.module "INCLUDE">
<![%ISOgrk2.module;[
<!ENTITY % ISOgrk2 PUBLIC "ISO 8879:1986//ENTITIES Monotoniko Greek//EN//XML" "ent/iso-grk2.ent">
%ISOgrk2;
<!--end of ISOgrk2.module-->]]>

<!ENTITY % ISOgrk3.module "INCLUDE">
<![%ISOgrk3.module;[
<!ENTITY % ISOgrk3 PUBLIC "ISO 8879:1986//ENTITIES Greek Symbols//EN//XML" "ent/iso-grk3.ent">
%ISOgrk3;
<!--end of ISOgrk3.module-->]]>

<!ENTITY % ISOgrk4.module "INCLUDE">
<![%ISOgrk4.module;[
<!ENTITY % ISOgrk4 PUBLIC "ISO 8879:1986//ENTITIES Alternative Greek Symbols//EN//XML" "ent/iso-grk4.ent">
%ISOgrk4;
<!--end of ISOgrk4.module-->]]>

<!ENTITY % ISOlat1.module "INCLUDE">
<![%ISOlat1.module;[
<!ENTITY % ISOlat1 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 1//EN//XML" "ent/iso-lat1.ent">
%ISOlat1;
<!--end of ISOlat1.module-->]]>

<!ENTITY % ISOlat2.module "INCLUDE">
<![%ISOlat2.module;[
<!ENTITY % ISOlat2 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 2//EN//XML" "ent/iso-lat2.ent">
%ISOlat2;
<!--end of ISOlat2.module-->]]>

<!ENTITY % ISOnum.module "INCLUDE">
<![%ISOnum.module;[
<!ENTITY % ISOnum PUBLIC "ISO 8879:1986//ENTITIES Numeric and Special Graphic//EN//XML" "ent/iso-num.ent">
%ISOnum;
<!--end of ISOnum.module-->]]>

<!ENTITY % ISOpub.module "INCLUDE">
<![%ISOpub.module;[
<!ENTITY % ISOpub PUBLIC "ISO 8879:1986//ENTITIES Publishing//EN//XML" "ent/iso-pub.ent">
%ISOpub;
<!--end of ISOpub.module-->]]>

<!ENTITY % ISOtech.module "INCLUDE">
<![%ISOtech.module;[
<!ENTITY % ISOtech PUBLIC "ISO 8879:1986//ENTITIES General Technical//EN//XML" "ent/iso-tech.ent">
%ISOtech;
<!--end of ISOtech.module-->]]>


<!-- Parameter Entities .............. -->

<!ENTITY % yesorno '(yes|no)'>

<!ENTITY % a.idimp "id ID #IMPLIED">

<!ENTITY % a.idreq "id ID #REQUIRED">

<!ENTITY % a.idref "linkend IDREF #REQUIRED
                    range   CDATA #IMPLIED">

<!ENTITY % a.ref "num        CDATA #IMPLIED
                  author     CDATA #IMPLIED
                  year-label CDATA #IMPLIED ">

<!ENTITY % a.section "appendix  (yes|no)    'no'
                      type      (num|unnum) 'num'
                      style     (alpha|ALPHA|roman|ROMAN|arabic|none) 'arabic'
                      inherit   (yes|no)    'yes'                         
                      number    CDATA        #IMPLIED 
                      label     CDATA        #IMPLIED ">

<!ENTITY % f.jnl-data "(jnl-fullname, jnl-abbreviation,
                       jnl-shortname, (jnl-subtitle)?,
                        jnl-issn, jnl-coden, (jnl-imprint)?,
                        jnl-web-address)">

<!ENTITY % f.name "(name-prefix)?, (first-names)?, second-name, 
                    (name-suffix)?, (name-qualifier)? ">

<!ENTITY % f.refname "second-name, (name-suffix)?, (name-prefix)?, 
                      (first-names)?, (name-qualifier)? ">

<!ENTITY % f.volume-data "(year-publication, volume-number)">

<!ENTITY % f.issue-data "(issue-number, coverdate)">

<!ENTITY % f.article-data "(article-type, type-number, 
                           article-number,
                           first-page, last-page, length,
                           pii?, copyright, ccc,
                           printed, features?)">

<!ENTITY % f.vspacing "vspace | nobreak | pagebreak
                      |spread ">

<!ENTITY % f.hspacing "hspace | linebreak ">

<!ENTITY % f.equation "inline-eqn | eqn-group | display-eqn">

<!ENTITY % f.inline-special "inline-eqn | inline-graphic | 
                             chem-structure | astro-object">

<!ENTITY % f.list "ordered-list | itemized-list | definition-list ">

<!ENTITY % f.title "(title)+, (subtitle)?, (short-title)?,
                    (title-for-toc)?">

<!ENTITY % f.intrefs "cite | eqnref | figref
                      | tabref | textref
                      | secref ">

<!ENTITY % f.extrefs "webref | email | ftp 
                      | arxiv | mmfile | stacks | iophome ">

<!ENTITY % f.xrefs "%f.intrefs; | %f.extrefs;">

<!ENTITY % f.emph "smallcap | italic | bold |
                    bold-italic | underline
                   |monospace |sup | sub| fnref | query-ref">

<!ENTITY % f.intext "#PCDATA | %f.emph; | %f.xrefs; | 
                     %f.inline-special; ">

<!ENTITY % f.disptext "#PCDATA | %f.emph; | %f.xrefs; | %f.equation; | definition
                       | figure | %f.vspacing; ">

<!ENTITY % f.tgroup "(colspec)+, (spanspec)*,((thead)?,
                     tbody, (tfoot)*)+">

<!ENTITY % f.address "%f.emph; | %f.xrefs; | orgname
                      | country">

<!ENTITY % f.block "p | table | figure | proclaim | %f.list;
                    | quote | definition">

<!ENTITY % f.ref "journal-ref | book-ref | conf-ref| misc-ref ">

<!-- End of Parameter Entities -->

<!-- Article Information       -->

<!ELEMENT article (article-metadata, header, body, (back)?,
                   (extra-data)?, (queries)?)>
<!ATTLIST article
                  artid ID #REQUIRED>

<!-- Article Metadata     -->
<!ELEMENT article-metadata (jnl-data, volume-data,
                            issue-data, article-data)>

<!-- Article Header     -->
<!ELEMENT header (title-group, author-group,
                   address-group, (history)?,
                   (abstract-group)?, (classifications)?,
                   (dedication)?, (table-of-contents)?)>

<!-- Journal Information -->
<!ELEMENT jnl-data (%f.jnl-data;)>
<!ATTLIST jnl-data
                   jnlid ID #REQUIRED >

<!-- Volume Information -->
<!ELEMENT volume-data (%f.volume-data;)>

<!-- Issue Information -->
<!ELEMENT issue-data (%f.issue-data;)>

<!-- Article Information -->
<!ELEMENT article-data (%f.article-data;)>

<!-- Body Matter -->

<!ELEMENT body ((p)*, (sec-level1)*, (acknowledgment)?, (appendix)?,
                (noteadded)?)>
<!ATTLIST body
               refstyle (alphabetic | numeric | labelled) "numeric"
               numbering (sequential | bysection) "sequential"
               toc (yes | no) "no"
               toclevel CDATA #IMPLIED
>

<!-- Back Matter -->
<!ELEMENT back ((references)+, (footnotes)?)>

<!-- Section level 1 -->
<!ELEMENT sec-level1 ((heading)?, (%f.block;)*, (sec-level2)*)>
<!ATTLIST sec-level1
                     %a.idreq; 
                     %a.section;
>

<!-- Section level 2 -->
<!ELEMENT sec-level2 ((heading)?, (%f.block;)*, (sec-level3)*)>
<!ATTLIST sec-level2
                     %a.idreq; 
                     %a.section;
>

<!-- Section level 3 -->
<!ELEMENT sec-level3 ((heading)?, (%f.block;)*, (sec-level4)*)>
<!ATTLIST sec-level3
                     %a.idreq; 
                     %a.section;
>

<!-- Section level 4 -->
<!ELEMENT sec-level4 ((heading)?, (%f.block;)*, (sec-level5)*)>
<!ATTLIST sec-level4
                     %a.idreq; 
                     %a.section;
>

<!-- Section level 5 -->
<!ELEMENT sec-level5 ((heading)?, (%f.block;)*)>
<!ATTLIST sec-level5
                     %a.idreq; 
                     %a.section;
>

<!-- Appendix -->
<!ELEMENT appendix (sec-level1)+>
<!ATTLIST appendix
                   %a.idreq; 
                   numbering (sequential | bysection) "bysection"
                   numbers (restart | continue) "restart"
                   prefix (yes | no) "yes" >

<!-- Acknowledgment -->
<!ELEMENT acknowledgment ((heading)?, (%f.block;)*)>
<!ATTLIST acknowledgment
                         %a.idimp; >

<!-- Citation References -->
<!ELEMENT references ((heading)?, (p | reference-list)*)>
<!ATTLIST references
                     %a.idimp; >

<!ELEMENT reference-list (ref-group| multipart | %f.ref;)*>
<!ATTLIST reference-list
                         type (alphabetic | numeric | labelled) "numeric" >

 <!ELEMENT ref-group (multipart | %f.ref;)*>
<!ATTLIST ref-group
                    %a.idimp; >

<!ELEMENT multipart (%f.ref;)+>
<!ATTLIST multipart
                    %a.idimp; >

<!-- Journal Reference -->
<!ELEMENT journal-ref ((misc-text)?, (authors)?,
                        (year)?, (art-title)?,
                        jnl-title, (part)?,
                        (volume)?, (issno)?,
                        (art-number)?,(pages)?,
                        (misc-text)?, (links)?)>
<!ATTLIST journal-ref
                      %a.idreq; 
                      %a.ref; >

<!-- Book Reference -->
<!ELEMENT book-ref ((misc-text)?, (authors |
                      editors)?, (year)?,
                      (art-title)?, book-title,
                      (series)?, (volume)?,
                      (edition)?, (editors)?,
                      (publication)?, (chap)?,
                      (pages)?, (misc-text)?,
                      (links)?)>
<!ATTLIST book-ref
                    %a.idreq; 
                    %a.ref; >

<!-- Conference Reference -->
<!ELEMENT conf-ref ((misc-text)?, (authors |
                      editors)?, (year)?,
                      (art-title)?, conf-title,
                      (conf-place)?, (series)?,
                      (volume)?, (editors)?,
                      (publication)?, (pages)?,
                      (misc-text)?, (links)?)>
<!ATTLIST conf-ref
                   %a.idreq; 
                   %a.ref; >

<!-- Miscellaneous Reference -->
<!ELEMENT misc-ref ((misc-text | authors | editors | year |
                      art-title | preprint | thesis | misc-title |
                      publication | pages)*, (links)?)>
<!ATTLIST misc-ref
                   %a.idreq; 
                   %a.ref;  >

<!-- Notes Added -->
<!ELEMENT noteadded ((heading)?, (%f.block;)*)>
<!ATTLIST noteadded
                    %a.idreq; >

<!-- Figure or table caption -->
<!ELEMENT caption (p)*>
<!ATTLIST caption
                  %a.idreq; 
                  type (table | figure) #IMPLIED
                  lang (english | french | german) "english"
                  label CDATA #IMPLIED >

<!-- Footnote Group -->
<!ELEMENT footnotes (footnote)+>

<!-- Extra Information not in print version (EJ only) -->
<!ELEMENT extra-data (sec-level1)+>
<!ATTLIST extra-data
                     %a.idreq; 
                     type (multimedia | suppdata | mixed) "multimedia"
                     mmtype (animation | video | audio) #IMPLIED
                     datatype CDATA #IMPLIED >

<!-- Emphasis Elements -->

<!-- Small Cap -->
<!ELEMENT smallcap (#PCDATA | %f.emph;)*>

<!-- Italic -->
<!ELEMENT italic (#PCDATA | %f.emph;)*>

<!-- Bold -->
<!ELEMENT bold (#PCDATA | %f.emph;)*>

<!-- Bold Italic -->
<!ELEMENT bold-italic (#PCDATA | %f.emph;)*>

<!-- Underline -->
<!ELEMENT underline (#PCDATA | %f.emph;)*>

<!-- Superscript -->
<!ELEMENT sup (#PCDATA | %f.emph;)*>

<!-- Subscript -->
<!ELEMENT sub (#PCDATA | %f.emph;)*>
<!ATTLIST sub
              valign (yes | no) "no" >

<!-- Monospaced (Typewriter) -->
<!ELEMENT monospace (#PCDATA | %f.emph;)*>

<!-- Spacing Elements -->

<!-- Vertical Space -->
<!ELEMENT vspace EMPTY>
<!ATTLIST vspace
                 space CDATA #IMPLIED >

<!-- Horizontal Space -->
<!ELEMENT hspace EMPTY>
<!ATTLIST hspace
                  space CDATA #IMPLIED >

<!-- No Break -->
<!ELEMENT nobreak EMPTY>
<!ATTLIST nobreak
                  space CDATA #IMPLIED >

<!-- Vertical Page Break -->
<!ELEMENT pagebreak EMPTY>

<!-- Line Break -->
<!ELEMENT linebreak EMPTY>

<!-- Spread -->
<!ELEMENT spread EMPTY>
<!ATTLIST spread
                 long CDATA #IMPLIED >


<!-- Internal Reference Elements -->
<!-- Citation Reference -->
<!ELEMENT cite (#PCDATA | %f.emph;)*>
<!ATTLIST cite
               %a.idref; 
               type (alphabetic | numeric | labelled) #IMPLIED
               show (author|year) 'author'
               override (yes|no) 'no' >

<!-- Equation Reference -->
<!ELEMENT eqnref (#PCDATA | %f.emph;)*>
<!ATTLIST eqnref
                 %a.idref;
                 override (yes|no) 'no'  >

<!-- Figure Reference -->
<!ELEMENT figref (#PCDATA | %f.emph;)*>
<!ATTLIST figref
                 %a.idref;
                 override (yes|no) 'no'  >

<!-- Table Reference -->
<!ELEMENT tabref (#PCDATA | %f.emph;)*>
<!ATTLIST tabref
                 %a.idref;
                 override (yes|no) 'no'  >

<!-- Footnote Reference -->
<!ELEMENT fnref (#PCDATA | %f.emph;)*>
<!ATTLIST fnref
                %a.idref;
                override (yes|no) 'no'  >

<!-- Section Reference -->
<!ELEMENT secref (#PCDATA | %f.emph;)*>
<!ATTLIST secref
                 %a.idref;
                 override (yes|no) 'no'  >

<!-- Text Reference -->
<!ELEMENT textref (#PCDATA | %f.emph;)*>
<!ATTLIST textref
                  %a.idref;
                  override (yes|no) 'no'  >

<!-- External References -->
<!-- Webaddress Refrence -->
<!ELEMENT webref (#PCDATA | %f.emph;)*>
<!ATTLIST webref
                 url CDATA #REQUIRED >

<!-- E-Mail Reference -->
<!ELEMENT email (#PCDATA | %f.emph;)*>
<!ATTLIST email
                mailto CDATA #IMPLIED >

<!-- FTP Reference -->
<!ELEMENT ftp (#PCDATA | %f.emph;)*>
<!ATTLIST ftp
              site CDATA #IMPLIED >

<!-- External File Reference -->
<!ELEMENT mmfile (#PCDATA | %f.emph;)*>
<!ATTLIST mmfile
                  id       ID    #REQUIRED
                  format   CDATA #REQUIRED
                  filename CDATA #IMPLIED
                  mime     CDATA #IMPLIED
                  size     CDATA #IMPLIED
                  label    CDATA #IMPLIED >


<!ELEMENT arxiv (#PCDATA | %f.emph;)*>
<!ATTLIST arxiv
                %a.idimp; 
                url CDATA #REQUIRED >

<!-- IOP Home page Reference -->
<!ELEMENT iophome (#PCDATA | %f.emph;)*>
<!ATTLIST iophome
                  url (www.iop.org | njp.org) "www.iop.org" >

<!-- Stacks (IOP Linking service) Reference -->
<!ELEMENT stacks (#PCDATA | %f.emph;)*>
<!ATTLIST stacks
                 root (stacks.iop.org) #FIXED "stacks.iop.org"
                 issn CDATA #REQUIRED
                 vol  CDATA #REQUIRED
                 page CDATA #IMPLIED >

<!-- Journal Information -->
<!-- Journal Title -->
<!ELEMENT jnl-fullname (#PCDATA | %f.emph;)*>

<!-- Journal Abreviated Title -->
<!ELEMENT jnl-abbreviation (#PCDATA)>

<!-- Journal Short Name -->
<!ELEMENT jnl-shortname (#PCDATA)>

<!-- Journal Subtitle -->
<!ELEMENT jnl-subtitle (#PCDATA | %f.emph;)*>

<!-- Coden -->
<!ELEMENT jnl-coden (#PCDATA)>

<!-- Imprint -->
<!ELEMENT jnl-imprint (#PCDATA | %f.emph;)*>

<!-- Web Address -->
<!ELEMENT jnl-web-address (#PCDATA)>

<!-- ISSN No -->
<!ELEMENT jnl-issn (#PCDATA)>

<!-- Volume No -->
<!ELEMENT volume-number (#PCDATA)>

<!-- Volume No -->
<!ELEMENT volume (#PCDATA)>

<!-- Publication Date -->
<!ELEMENT year-publication (#PCDATA)>

<!-- Issue No -->
<!ELEMENT issue-number (#PCDATA)>

<!-- Issue No -->
<!ELEMENT issno (#PCDATA)>

<!-- Cover Date -->
<!ELEMENT coverdate (#PCDATA)>


<!-- Article Metadata Information -->
<!-- Article Sequence Number -->
<!ELEMENT type-number (#PCDATA)>
<!ATTLIST type-number
                     type (paper|letter|review|note|editorial|
                          intro|erratum)   #REQUIRED >

<!-- Article Number -->
<!ELEMENT article-number (#PCDATA)>

<!-- Article Type -->
<!ELEMENT article-type (#PCDATA)>
<!ATTLIST article-type
                        type (paper|letter|review|note|editorial|
                              intro|erratum)   #REQUIRED 
                        sort (regular|special) 'regular' >

<!-- First Page -->
<!ELEMENT first-page (#PCDATA)>

<!-- Last Page -->
<!ELEMENT last-page (#PCDATA)>

<!-- Length -->
<!ELEMENT length (#PCDATA)>

<!-- Chapter Pages -->
<!ELEMENT chap (#PCDATA | %f.emph;)*>

<!-- Pages -->
<!ELEMENT pages (#PCDATA)>

<!-- PII -->
<!ELEMENT pii (#PCDATA)>

<!-- Digital Object Identifier -->
<!ELEMENT links (#PCDATA | %f.emph;)*>
<!ATTLIST links
                %a.idimp; >

<!-- Copyright Information -->
<!ELEMENT copyright (#PCDATA | %f.emph;)*>

<!-- Copyright Clearance Information -->
<!ELEMENT ccc (#PCDATA)>

<!-- Print Information -->
<!ELEMENT printed (#PCDATA)>

<!-- Features (Multimedia/Coloured Figures/Suppliment Data) -->
<!ELEMENT features EMPTY>

<!ATTLIST features
                  colour    (global | single | none) 'none'
                  mmedia   %yesorno;               'no'
                  suppdata %yesorno;               'no' >

<!-- Title Group -->
<!ELEMENT title-group (%f.title;)>

<!-- Title -->
<!ELEMENT title (%f.intext;)*>
<!ATTLIST title
                lang (english | french | german) "english" >

<!-- Short Title -->
<!ELEMENT short-title (#PCDATA | %f.emph;)*>

<!-- Sub Title -->
<!ELEMENT subtitle (%f.intext;)*>

<!-- Toc Title -->
<!ELEMENT title-for-toc (#PCDATA | %f.emph;)*>

<!-- Author Information -->
<!-- Author Group (in article header) -->
<!ELEMENT author-group ((author | collaboration )+,
                          (short-author-list)?,
                          (authors-for-toc)?)>

<!-- Authors (in a reference) -->
<!ELEMENT authors ((au)*,others?)>

<!-- Collaboration -->
<!ELEMENT collaboration (#PCDATA | %f.emph;)*>
<!ATTLIST collaboration
                        address IDREF #IMPLIED
                        second-address IDREF #IMPLIED
                        third-address IDREF #IMPLIED
                        email IDREF #IMPLIED
                        url IDREF #IMPLIED
                        alt-address IDREF #IMPLIED
                        footnote IDREF #IMPLIED >

<!-- Table of Contents Author -->
<!ELEMENT authors-for-toc (#PCDATA | %f.emph;)*>

<!-- Short Author List -->
<!ELEMENT short-author-list (#PCDATA | %f.emph;)*>

<!-- Author -->
<!ELEMENT author (%f.name;) >
<!ATTLIST author
                 type (chinese | normal) "normal"
                 address IDREF #IMPLIED
                 second-address IDREF #IMPLIED
                 third-address IDREF #IMPLIED
                 email IDREF #IMPLIED
                 url IDREF #IMPLIED
                 alt-address IDREF #IMPLIED
                 footnote IDREF #IMPLIED
                 corres (yes|no) "no" >

<!ELEMENT name-prefix (#PCDATA | %f.emph;)*>

<!ELEMENT name-suffix (#PCDATA | %f.emph;)*>

<!ELEMENT name-qualifier (#PCDATA | %f.emph; | %f.xrefs;)*>

<!ELEMENT first-names (#PCDATA | %f.emph;)*>

<!ELEMENT second-name (#PCDATA | %f.emph;)*>

<!-- Authors in references -->
<!ELEMENT au (%f.refname;) >
<!ATTLIST au 
              print (yes|no) 'yes' >

<!ELEMENT others (#PCDATA | %f.emph;)*>

<!-- Address Information -->
<!ELEMENT address-group ((address)*,(e-address)*)>

<!-- Address -->
<!ELEMENT address (#PCDATA|%f.address;)*>
<!ATTLIST address
                  %a.idreq; 
                  alt (yes | no) "no"
                  showid (yes | no) "yes"
                  type (academic | business | government |
                        personal) "academic"
                  joinwith IDREF #IMPLIED >

<!-- Electronic Address -->
<!ELEMENT e-address (#PCDATA|%f.emph;|%f.xrefs;)*>
<!ATTLIST e-address
                    %a.idreq; 
                    type (email | web | ftp) "email" >

<!-- Organisation Name -->
<!ELEMENT orgname (#PCDATA | %f.emph;)*>

<!-- Country -->
<!ELEMENT country (#PCDATA | %f.emph;)*>
<!ATTLIST country
                  %a.idimp; >

<!-- Table of contents -->
<!ELEMENT table-of-contents EMPTY >
<!ATTLIST table-of-contents
                            level (1|2|3) '2' >

<!-- Article History -->
<!ELEMENT history (#PCDATA | %f.emph;)*>
<!ATTLIST history
                   received   CDATA #IMPLIED
                   revised    CDATA #IMPLIED
                   finalform  CDATA #IMPLIED
                   accepted   CDATA #IMPLIED
                   online     CDATA #IMPLIED
                   recommended CDATA #IMPLIED >


<!-- Abstract Group -->
<!ELEMENT abstract-group (abstract)+>

<!-- Abstract -->
<!ELEMENT abstract ((heading)?, (%f.block;)*)>
<!ATTLIST abstract
                    lang (english | french | german) "english" >

<!ELEMENT classifications ((subject-areas)?, (class-codes)*, 
                (keywords)?, (index-terms)?)>

<!-- Subject -->
<!ELEMENT subject-areas (category, (sub-category)?)>
<!ATTLIST subject-areas
					    print %yesorno; 'no' >
          
<!-- Primary Category -->
<!ELEMENT category (#PCDATA | %f.emph;)*>
<!ATTLIST category
                   %a.idimp; >

<!-- Secondary Category -->
<!ELEMENT sub-category (#PCDATA | %f.emph;)*>

<!-- Keyword Group -->
<!ELEMENT keywords ((heading)?, (keyword)*)>
<!ATTLIST keywords
     			    print %yesorno; 'no' >

<!-- Individual Keyword -->
<!ELEMENT keyword (#PCDATA | %f.emph;)*>

<!-- Class -->
<!ELEMENT class-codes (code)*>
<!ATTLIST class-codes
                      scheme (pacs | ams | pmb) #REQUIRED
					  print %yesorno; 'no'>

<!-- Class Code -->
<!ELEMENT code (#PCDATA | %f.emph;)*>
<!ATTLIST code
                order (primary | secondary) "primary" >

<!-- Index Group -->
<!ELEMENT index-terms ((heading)?, (idxterm)*)>
<!ATTLIST index-terms
					  print %yesorno; 'no' >

<!-- Individual Index Term -->
<!ELEMENT idxterm (#PCDATA | %f.emph;)*>

<!-- Dedication -->
<!ELEMENT dedication ((%f.block;)*)>

<!-- Heading -->
<!ELEMENT heading (%f.intext;)*>

<!-- Math Type Elements -->
<!ELEMENT proclaim ((heading)?, (p | table | %f.list; | 
                     quote)*)>
<!ATTLIST proclaim
                     id     ID          #REQUIRED
                     type   CDATA       #REQUIRED 
                     format (num|unnum) 'num'
                     num    CDATA       #IMPLIED
                     style  (italic|upright) 'italic'
                     label  CDATA       #IMPLIED >


<!-- General Elements -->
<!-- Display Quotation -->
<!ELEMENT quote (p)+>

<!-- Definition -->
<!ELEMENT definition (#PCDATA)>

<!-- Para -->
<!ELEMENT p (%f.disptext; | %f.list; | quote 
                   | table )*>
<!ATTLIST p
              looseness NMTOKEN #IMPLIED
              estretch NMTOKEN #IMPLIED
              indent (yes | no) "yes"
              type (run-on|new-line) "new-line" >

<!-- Display Equation Group -->
<!ELEMENT eqn-group (display-eqn)+>
<!ATTLIST eqn-group 
                    id ID #IMPLIED >

<!-- Display Equation -->
<!ELEMENT display-eqn ((mathml)?, (math-text)?, (eqn-graphic)?)>
<!ATTLIST display-eqn
                        id       ID #IMPLIED
                        notation NOTATION (LaTeX|TeX)  'TeX'
                        label    CDATA #IMPLIED
                        textype  (equation|lequation|eqnarray|
                                  leqnarray) 'equation'
                        lines    (single|multiline|block) 'single'
                        type     (simple|complex)          'complex'
                        font     (italic|upright)          'italic'
                        number   (yes|no) 'yes'               
                        eqnnum   CDATA #IMPLIED
                        numalign (top|bottom|center|
                                  dropped) 'bottom'
                        eqnalign (left|indent|center|wide) 'indent' >

<!-- Inline Equation -->
<!ELEMENT inline-eqn ((mathml)?, (math-text)?, (inline-graphic)?)>
<!ATTLIST inline-eqn
                       notation NOTATION (LaTeX|TeX) 'TeX'
                       type     (simple|complex)     'simple'
                       font     (italic|bold-italic|upright|
                                 bold-upright)        'italic' >


<!-- Maths-text -->
<!ELEMENT math-text (#PCDATA|%f.emph;|%f.hspacing;|%f.xrefs;)*>

<!-- MathML  -->
<!ELEMENT mathml (#PCDATA)>

<!-- Graphic -->
<!ELEMENT graphic (graphic-file)+>
<!ATTLIST graphic
                   id ID #IMPLIED
                   uselabel   (yes|no)  'no'
                   label      CDATA     #IMPLIED
                   position   (left|indented|center|right) 'left'
                   row        CDATA     #IMPLIED
                   column     CDATA     #IMPLIED >

<!-- Graphic -->
<!ELEMENT graphic-file EMPTY>
<!ATTLIST graphic-file
                        version     (print|thumbnail|ej) #REQUIRED
                        format      (EPS|GIF|JPEG|SVG) #REQUIRED
                        filename    CDATA #REQUIRED
                        printcolour (yes|no) 'no' 
                        colour       (yes|no) 'no' 
                        align       (top|middle|bottom|baseline) 'middle'
                        height      CDATA #IMPLIED
                        width       CDATA #IMPLIED
                        scale       CDATA #IMPLIED
                        scalefit    CDATA #IMPLIED >


<!-- Inline-graphic -->
<!ELEMENT inline-graphic EMPTY>
<!ATTLIST inline-graphic
                         format (PS|EPS|GIF|JPEG|PNG) #REQUIRED
                         filename CDATA #REQUIRED
                         align (top|middle|bottom|baseline) 'middle'
                         height   CDATA #IMPLIED
                         width    CDATA #IMPLIED
                         scale    CDATA #IMPLIED
                         scalefit CDATA #IMPLIED >


<!-- Displayed maths graphic -->
<!ELEMENT eqn-graphic EMPTY>
<!ATTLIST eqn-graphic
                      format  (PS|EPS|GIF|JPEG|PNG) #REQUIRED
                      filename CDATA #REQUIRED
                      position (left|indent|center|wide) 'indent'
                      align    (top|middle|bottom|baseline) 'middle'
                      height   CDATA #IMPLIED
                      width    CDATA #IMPLIED
                      scale    CDATA #IMPLIED
                      scalefit CDATA #IMPLIED >


<!-- Chemical Structures -->
<!ELEMENT chem-structure (chem-text?,inline-graphic?)>
<!ATTLIST chem-structure
                          type (simple|complex) 'simple'
                          font (italic|bold-italic|upright|
                                bold-upright)   'upright' >


<!-- Chemical-text -->
<!ELEMENT chem-text (#PCDATA|%f.emph;|%f.xrefs;)*>

<!-- Astronomical Objects -->
<!ELEMENT astro-object (#PCDATA|%f.emph;|%f.xrefs;)*>
<!ATTLIST astro-object
                        type (simple|complex) 'simple'
                        font (italic|bold-italic|upright|
                              bold-upright)   'upright' >


<!-- Footnote -->
<!ELEMENT footnote (p)+>
<!ATTLIST footnote
                   %a.idreq; 
                   source (title | author | table | figure | text) "text"
                   type (number | symbol) "number"
                   marker CDATA #IMPLIED
>

<!-- Figure -->
<!ELEMENT figure ((graphic|chem-structure)+, caption)>
<!ATTLIST figure
              %a.idreq; 
             position      (float | fixed)                 "float"
             parts         (single | multiple)             "single"
             width         (column | page)                 "column"
             printstyle    (normal | sided | sidedcaption) "normal"
             pageposition  (top | bottom | page | here)    "top"
             orientation   (port | land)                   "port"
             voffset CDATA #IMPLIED >

<!-- List Elements -->
<!-- Ordered List -->
<!ELEMENT ordered-list ((ordered-list|itemized-list|list-item)* )>
<!ATTLIST ordered-list
                       %a.idimp;
                        level    CDATA           #IMPLIED
                        type     (alpha|ALPHA|roman|ROMAN|arabic) 'roman'
                        style    (hanging|para)  'hanging'
                        inherit  (yes|no)        'no'
                        spacing  (compact|normal) 'normal'
                        continue (yes|no)         'no'
                        pattern (1|2|3|4|5) #IMPLIED >
<!--                    1 = right paranthesis
                        2 = left & right paranthesis
                        3 = right bracket
                        4 = left & right bracket
                       -->
 
<!-- Itemized List -->
<!ELEMENT itemized-list ((ordered-list|itemized-list|list-item)* )>
<!ATTLIST itemized-list
                         %a.idimp; 
                         level   CDATA            #IMPLIED
                         type    CDATA            'bullet'
                         style   (hanging|para)   'hanging'
                         spacing (compact|normal) 'normal' >


<!-- Definition List -->
<!ELEMENT definition-list ((definition-list|itemized-list|
                            def-list-item)*) >
<!ATTLIST definition-list
                         %a.idimp; 
                         level     CDATA            #IMPLIED
                         type      CDATA            #IMPLIED
                         width     (page|indent|column|natural) 'column'
                         termwidth CDATA            '5pc' 
                         spacing   (compact|normal) 'normal' >

<!-- List item -->
<!ELEMENT list-item (p)+>
<!ATTLIST list-item
                    %a.idreq; 
                    number CDATA #IMPLIED
                    marker CDATA #IMPLIED >

<!-- Definition-list item -->
<!ELEMENT def-list-item (term, list-text)>
<!ATTLIST def-list-item
                        %a.idimp; 
                        number CDATA #IMPLIED >

<!-- Term defined in definition list -->
<!ELEMENT term ( #PCDATA | %f.emph; | inline-eqn )* >
<!ATTLIST term
                %a.idimp; >

<!-- List text -->
<!ELEMENT list-text (p)+ >

<!-- Table Elements -->
<!ELEMENT table ((caption)?, (tgroup|graphic )+)>
<!ATTLIST table
     type (formal | informal | inline) "formal"
     frame (top | bottom | topbot | all | sides | none) #IMPLIED
     colsep %yesorno; #IMPLIED
     rowsep %yesorno; #IMPLIED
     voffset CDATA #IMPLIED
     hoffset CDATA #IMPLIED
     width CDATA #IMPLIED
     continued (continued) #IMPLIED
     place (top | bottom | page) #IMPLIED
     position (float | fixed) "float"
     textwrap %yesorno; #IMPLIED
     indent CDATA #IMPLIED
     %a.idreq; >

<!-- Table Group -->
<!ELEMENT tgroup (%f.tgroup;)>
<!ATTLIST tgroup
     cols CDATA #REQUIRED
     colsep %yesorno; #IMPLIED
     rowsep %yesorno; #IMPLIED
     align (left | right | center | justify | char) #IMPLIED
     char CDATA #IMPLIED
     charoff CDATA #IMPLIED
>

<!-- Table Column Specification -->
<!ELEMENT colspec EMPTY>
<!ATTLIST colspec
     colnum CDATA #IMPLIED
     colname CDATA #IMPLIED
     colwidth CDATA #IMPLIED
     colsep %yesorno; #IMPLIED
     rowsep %yesorno; #IMPLIED
     align (left | right | center | justify | char) #IMPLIED
     char CDATA #IMPLIED
     charoff CDATA #IMPLIED
     type (p) #IMPLIED
>

<!-- Table Spanning Specification -->
<!ELEMENT spanspec EMPTY>
<!ATTLIST spanspec
     namest CDATA #REQUIRED
     nameend CDATA #REQUIRED
     spanname CDATA #REQUIRED
     colsep %yesorno; #IMPLIED
     rowsep %yesorno; #IMPLIED
     align (left | right | center | justify | char) #IMPLIED
     char CDATA #IMPLIED
     charoff CDATA #IMPLIED
>

<!-- Table Head -->
<!ELEMENT thead (row)+>
<!ATTLIST thead
     valign (top | middle | bottom) #IMPLIED
     indent CDATA #IMPLIED
>

<!-- Table Body -->
<!ELEMENT tbody (row)+>
<!ATTLIST tbody
     valign (top | middle | bottom) #IMPLIED
>

<!-- Table Foot -->
<!ELEMENT tfoot (%f.intext;)*>
<!ATTLIST tfoot
     valign (top | middle | bottom) #IMPLIED
     indent CDATA #IMPLIED
>

<!-- Table Row -->
<!ELEMENT row (entry)+>
<!ATTLIST row
     rowsep %yesorno; #IMPLIED
     valign (top | middle | bottom) #IMPLIED
>

<!-- Table Entry -->
<!ELEMENT entry (%f.intext;)*>
<!ATTLIST entry
     colname CDATA #IMPLIED
     namest CDATA #IMPLIED
     nameend CDATA #IMPLIED
     spanname CDATA #IMPLIED
     morerows CDATA #IMPLIED
     colsep %yesorno; #IMPLIED
     rowsep %yesorno; #IMPLIED
     align (left | right | center | justify | char) #IMPLIED
     char CDATA #IMPLIED
     charoff CDATA #IMPLIED
     rotate %yesorno; #IMPLIED
     valign (top | middle | bottom) #IMPLIED
>

<!-- Reference Elements -->
<!-- Publication Information -->
<!ELEMENT publication ((place)?, (publisher)?)>

<!-- Editor Group -->
<!ELEMENT editors ((au|author)*,others?)>
<!ATTLIST editors
                  order (normal | reversed) "normal" >

<!-- Edition Information -->
<!ELEMENT edition (#PCDATA | %f.emph;)*>

<!-- Publisher Information -->
<!ELEMENT publisher (#PCDATA | %f.emph;)*>

<!-- Publication Place Information -->
<!ELEMENT place (#PCDATA | %f.emph;)*>

<!-- Part Information -->
<!ELEMENT part (#PCDATA | %f.emph;)*>

<!-- Article Number Information in Reference Section -->
<!ELEMENT art-number (#PCDATA | %f.emph;)*>

<!-- Series Information -->
<!ELEMENT series (#PCDATA | %f.emph;)*>

<!-- Article Title -->
<!ELEMENT art-title (#PCDATA | %f.emph; | inline-eqn)*>

<!-- Journal Title -->
<!ELEMENT jnl-title (#PCDATA | %f.emph; )*>

<!-- Book Title -->
<!ELEMENT book-title (#PCDATA | %f.emph; | inline-eqn)*>

<!-- Thesis -->
<!ELEMENT thesis (#PCDATA | %f.emph;)*>

<!-- Preprint -->
<!ELEMENT preprint (#PCDATA | %f.emph;)*>

<!-- Miscellaneous Title Information -->
<!ELEMENT misc-title (#PCDATA | %f.emph;)*>

<!-- Miscellaneous Information -->
<!ELEMENT misc-text (#PCDATA | %f.emph; | %f.xrefs;)*>

<!-- Conference Name -->
<!ELEMENT conf-title (#PCDATA | %f.emph;)*>

<!-- Conference Place Information -->
<!ELEMENT conf-place (#PCDATA | %f.emph;)*>

<!-- Year -->
<!ELEMENT year (#PCDATA)>

<!-- Author query reference -->
<!ELEMENT query-ref (#PCDATA | %f.emph;)*>
<!ATTLIST query-ref
                    %a.idref;
                    marker CDATA #IMPLIED >

<!ELEMENT queries (query)+>

<!ELEMENT query (%f.intext;)*>
<!ATTLIST query
                %a.idreq;
                marker CDATA #IMPLIED >

<!-- End of IOPart XML DTD V1.4.1 ......................................... -->
<!-- ...................................................................... -->